#mapdisplay {
  height: 500px;
  width: 900px;
  margin: 0 auto;
}

nav button {
  display: inline;
  position: relative;
}

body { 
  padding-top: 100px; 
  font-family: 'Comfortaa', cursive;
}

#login, #signup {
  border: 1px solid darkgray;
  border-radius: 10px;
  width: 500px;
  height: 300px;
  margin: 0 auto;
  margin-top: 100px;
}