#mapdisplay {
  height: 485px;
  width: 87%;
  margin: 0 auto;
  margin-top: 50px;
  border: 2px solid teal;
}

nav button {
  display: inline;
  position: relative;
}

body { 
  padding-top: 100px; 
  font-family: 'Comfortaa', cursive;
}

#login, #signup {
  border: 1px solid darkgray;
  border-radius: 10px;
  width: 100%;
  padding-bottom: 45px;
  padding-top: 45px;
}

.navbar-brand {
  font-size: 2.5em;
}

img {
  width: 520px;
  margin-bottom: 10px;
}

.row {
  margin-top: 10%;
}

.desc {
  font-size: 1.3em;
}
