<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
  <a class="navbar-brand" href="#/map">Where To?</a>
    <button ui-sref="login" class="btn btn-default navbar-right navbar-btn ">Login</button>
  </div>
</nav>
<div id='signup' class='text-center'>
  <h1>signup</h1>
  <form name="signupForm" class="form-signin"ng-submit='signup()'>
    <input type='text' ng-model='user.username' name='username' ng-minlength='3' ng-maxlength='15' class="form-control">
    <input type="password" ng-model='user.password' name='password' ng-minlength='7' ng-maxlength='15' class="form-control">
    <button class="btn btn-lg btn-primary btn-block">signup</button>
  </form>
  <a href="#/signin" class='text-center'>Already have an account? <strong>Signin</strong> ...</a>
</div>

<div class='alert' class='text-center'>
  <span ng-show='signupForm.username.$error.minlength'>Username too short!</span>
  <span ng-show='signupForm.username.$error.maxlength'>Username too long!</span>
  <span ng-show='signupForm.password.$error.minlength'>Password too short!</span>
  <span ng-show='signupForm.password.$error.maxlength'>Password too long!</span>
</div>
